<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block meta %}{% endblock %}
    <title>{% block title %}JLJ Chat, partout, tout le temps!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css') }}" />
    <link href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
</head>
<body>
    {% include 'DiscordBundle:Partials:header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'DiscordBundle:Partials:footer.html.twig' %}
    {% include 'DiscordBundle:Partials:modal.html.twig' %}
    {% block javascripts %}{% endblock %}
    <script
            src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js') }}">

    </script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js') }}"></script>
    <script src="{{ asset('assets/js/modal.js') }}"></script>
    <script src="{{ asset('assets/js/tabs.js') }}"></script>
</body>
</html>
