<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block meta %}{% endblock %}
    <title>{% block title %}JLJ Chat, partout, tout le temps!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css') }}" />
    <link href="{{ asset('https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
</head>
<body>
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">JLJ Chat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="parameters.html"><i class="material-icons right">settings</i>Paramètres</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">
            © 2017 JLJ Team
            <a class="grey-text text-lighten-4 right" href="https://wildcodeschool.fr">Wild Code School</a>
        </div>
    </div>
</footer>
{% endblock %}
{% block javascripts %}{% endblock %}
<script
        src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js') }}">

</script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js') }}"></script>
<script src="{{ asset('assets/js/modal.js') }}"></script>
<script src="{{ asset('assets/js/tabs.js') }}"></script>
</body>
</html>
