<section id="chat-id">
    <div class="message-area">

        {% for message in messages %}
            <p class="message-block">
                <span class="large-block">
                    <span class="message-name">
                        {{ message.username }}
                    </span>
                    <span class="message-date">
                        {{ message.datetime|date('à H:i:s') }}
                    </span>
                </span>
                <span class="message-message">
                    {{ message.message }}
                </span>

                {% if message.username == username %}
                    <span class="delete-option"><a href="/delete/{{ message.id }}">Supprimer</a></span>
                {% endif %}
            </p>
        {% endfor %}

    </div>

    <div class="writing-area">
        <div class="writing-box">
            {{ form(form3) }}
        </div>
    </div>

</section>